@import 'colors.scss';

.cart-title {
    height: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}

.cart-page {
    display: flex;
    justify-content: space-evenly;
}

.cart-items {
    border-top: 2px solid $conponentOrange;
    border-bottom: 2px solid $conponentOrange;
    width: 80%;
}



.cart-item {
    margin-top: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.cart-item-preview {
    width: 200px;
}

.cart-item-remove-button {
    width: 100px;
    height: 30px;
    background-color: $conponentOrange;
    border: 0;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}

.bold{
    font-weight: 800;
}

.fixed {
    width: 8%;
}


.flex-in-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-button {
    background-color: $conponentGreen;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: $componentWhite;
    padding: 15px;
    margin-top: 50%;
}

.x-center-y {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    font-weight: 800;
}