@import 'colors.scss';

.header {
  background-color: $componentGray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px; 
}
.header-search{
  background-color: $componentWhite;
  width: 40%;
  height: 37px;  
  border-color: $conponentOrange;
  border-style: solid;
}


.header-search:focus{
  border-color: $conponentOrange;
}

.header-search-button{
  width: 28px;
  height: 28px;
  border: 5px;
  border-color: $conponentOrange;
  border-style: solid;
  background-color: $conponentOrange;
  background-image: url("./../images/header/search.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.header-shopping-cart{
  background-image: url("./../images/header/shopping-cart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $conponentOrange;
  font-weight: bold;
  width: 37px;
  height: 37px;
}

.header-shopping-cart:hover{
  cursor: pointer;
}

.header-logo{
  background-color: $conponentOrange;
  padding: 10px;
  margin-right: 55%;
  margin-left: 10px;
}